---
permalink: '/manifest.webmanifest'
eleventyExcludeFromCollections: true
---
{
  "name": "startingfromzero.com",
  "short_name": "startingfromzero.com",
  "display": "standalone",
  "start_url": "/"
}
